// Main styles //
$textColor: #505364;
$linkColor: #a7d3e9;

$rad: 2px;
$shadow: inset 0px 0px 0px 1px rgba(232,233,245,1);
$fz: 16px;
$fw: 700;


@mixin box-shadow($shadow) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
  border-bottom: 1px solid #e8e9f5;
}

@mixin textLink($fz, $fw){
  font-size: $fz;
  font-weight: $fw;
  color: #505364;
  border-bottom: 1px solid #a7d3e9;
}

@mixin dashed(){
  background: #353638;
  border: 1px dashed #424242;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.23);
}

@mixin dashedHover(){
  border-color: #9b9b9b;
}


/* main
====================== */
::-webkit-input-placeholder {
  color: #666666;
}

::-moz-placeholder {
  color: #666666;
}

/* Firefox 19+ */
:-moz-placeholder {
  color: #666666;
}

/* Firefox 18- */
:-ms-input-placeholder {
  color: #666666;
}

a {
  color: $linkColor;
  text-decoration: underline;
  -webkit-transition: color 0.2s ease-out 0.2s;
  -moz-transition: color 0.2s ease-out 0.2s;
  -o-transition: color 0.2s ease-out 0.2s;
  transition: color 0.2s ease-out 0.2s;

  &:hover {
    text-decoration: none;
    color: $linkColor;
  }

  &:focus {
    color: $linkColor;
    outline: none;
    text-decoration: none;
  }
}

.btn {
  display: inline-block;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  border-radius: $rad;
  padding: 5px 13px;
  text-decoration: none;
}

.btn-light {
  background: #f0f6f9;
  margin-bottom: 20px;
  color: #505364;
  -webkit-transition: background 0.2s ease-out 0.2s;
  -moz-transition: background 0.2s ease-out 0.2s;
  -o-transition: background 0.2s ease-out 0.2s;
  transition: background 0.2s ease-out 0.2s;


  &:hover {
    background: #a7d3e9;
  }
}

.btn-blue {
  float: right;
  background: #3399cc;
  margin-top: 25px;
  margin-bottom: 0;
  color: #fff;
  font-weight: 400;
  -webkit-transition: background 0.2s ease-out 0.2s;
  -moz-transition: background 0.2s ease-out 0.2s;
  -o-transition: background 0.2s ease-out 0.2s;
  transition: background 0.2s ease-out 0.2s;

  &:hover {
    background: #1a79a8;
    color: #fff;
  }
}

.btn-blue--lg{
  width: 100%;
  margin-top: 10px;
  padding: 10px 23px;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  border-bottom: 4px solid #1a79a8;
  text-transform: uppercase;

  &:hover {
    background: #1a79a8;
    color: #fff;
  }
}

.btn-orange:hover,
.btn:focus,
.btn:active:focus {
  color: #fff;
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
}

body {
  background: #404040;
  height: 100%;
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  color: $textColor;
}

label {
  font-size: 16px;
  color: #a9aaac;
  font-weight: 400;
}

.title{
  margin: 30px 0 20px;
  padding-left: 55px;
  font-size: 20px;
  line-height: 24px;
  color: #505364;
  font-weight: 400;
}

.form-group {
  margin-bottom: 10px;
}

.form-control {
  height: 40px;
  border-color: #fff;
  border-radius: $rad;
  padding: 4px 12px 0;
  font-size: 16px;
  font-weight: 700;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.table > tbody > tr > td{
  border-top: none;
}

/* main */

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 10;
}

@import "layout/header";
@import "layout/head1-block";
@import "layout/blog-header";
@import "layout/sidebar";
@import "layout/form-sidebar";

@import "layout/content";
@import "layout/slider";
@import "layout/menu-gadgets";
@import "layout/menu-domestic";
@import "layout/menu-professional";
@import "layout/advantages-block";
@import "layout/alert-block";
@import "layout/page-article";
@import "layout/blog-list";
@import "layout/reviews";
@import "layout/prices-block";
@import "layout/menu-problems";
@import "layout/menu-brands";
@import "layout/menu-tabs";



@import "layout/pagination";
@import "layout/404";
@import "layout/footer";

/* responsive */
@import "responsive/md";
@import "responsive/sm";
@import "responsive/xs";