<section class="blog-header">
    <div class="blog-header__top">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="blog-header__title">Акции сервисного центра «24мастер» H1</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <span class="head1-block__question">Не забудьте</span>
                <a class="head1-block__call-master" href="#">
                    <span>Вызвать мастера на дом!</span>
                </a>

                <p>Небольшой сео-текст о доступности сервиса, круглосуточном приеме заявок и специфике работы компании.
                    Можно обойтись без него, но тогда будет нарушена привычная структура страницы. Небольшой сео-текст о
                    доступности сервиса, круглосуточном приеме заявок и специфике работы компании. Можно обойтись без
                    него, но тогда будет нарушена привычная структура страницы.
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">

        </div>
    </div>
</section>