<section class="advantages-block">
    <div class="row">
        <div class="col-sm-12">
            <p class="title advantages-block__title">Ремонт техники в центре «Новый Сервис» это</p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 col-md-3">
            <div class="advantages-block__item" style="background: url('/img/advantages-block__icon1.png') center 40px no-repeat #fff">
                <p class="advantages-block__item__desc"> Специалисты
                    с опытом работы
                    от 3-5 лет
                </p>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="advantages-block__item" style="background: url('/img/advantages-block__icon2.png') center 40px no-repeat #fff">
                <p class="advantages-block__item__desc">Гарантия
                    на ремонт
                    до 12 месяцев
                </p>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="advantages-block__item" style="background: url('/img/advantages-block__icon3.png') center 40px no-repeat #fff">
                <p class="advantages-block__item__desc">Работаем
                    на территории
                    заказчика
                </p>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="advantages-block__item" style="background: url('/img/advantages-block__icon4.png') center 40px no-repeat #fff">
                <p class="advantages-block__item__desc">Запись на вызов
                    и консультации
                    круглосуточно
                </p>
            </div>
        </div>
    </div>
</section>