<section class="blog-list">
    <div class="row">
        <div class="col-sm-9">
            <p class="title blog-list__title">Полезные материалы от сервиса 24мастер</p>
        </div>
        <div class="col-sm-3">
            <a class="btn btn-blue" href="#">Все материалы блога</a>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12">
            <div class="blog-list__cnt">
                <div class="row">
                    <div class="col-sm-6">
                        <a class="btn btn-light" href="#">Планшеты, ноутбуки, смартфоны</a>

                        <ul class="blog-list__lst">
                            <li class="blog-list__item">
                                <a class="blog-list__link" href="#">Что делать если Iphone не заряжается</a>
                            </li>
                            <li class="blog-list__item">
                                <a class="blog-list__link" href="#">Причины неисправности сенсора на
                                    телефоне</a>
                            </li>
                            <li class="blog-list__item">
                                <a class="blog-list__link" href="#">Плюсы и минусы перепрошивки смартфона
                                    самостоятельно</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <a class="btn btn-light" href="#">Бытовая техника</a>

                        <ul class="blog-list__lst">
                            <li class="blog-list__item">
                                <a class="blog-list__link" href="#">Что делать если Iphone не заряжается</a>
                            </li>
                            <li class="blog-list__item">
                                <a class="blog-list__link" href="#">Причины неисправности сенсора на
                                    телефоне</a>
                            </li>
                            <li class="blog-list__item">
                                <a class="blog-list__link" href="#">Плюсы и минусы перепрошивки смартфона
                                    самостоятельно</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>