<section class="blog-header">
    <div class="blog-header__top">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="blog-header__title">Заголовок и первый блок листинга статей
                    в блоге H1</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <span class="head1-block__question">Не забудьте</span>
                <a class="head1-block__call-master" href="#">
                    <span>Вызвать мастера на дом!</span>
                </a>

                <p>Давайте разберёмся в ситуации. Дело в том, что под выражением «моя стиральная машина не включается»
                    могут подходить различные симптомы поведения машинки. И главное помнить, что всё поправимо и можно
                    отремонтировать. Конечно, ремонт бессмысленен был бы в том случае, если бы в <a href="#">стиральной
                        машине</a>
                    постирали кирпич, но у нас всё не так страшно...</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">

        </div>
    </div>
</section>