<section class="blog-tabs">
    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-tabs blog__tabs__lst">
                <li class="blog__tabs__item">
                    <a class="blog__tabs__link" href="#">Ремонт мобильной техники и гаджетов</a>
                </li>
                <li class="blog__tabs__item">
                    <a class="blog__tabs__link" href="#">Ремонт бытовой техники</a>
                </li>
                <li class="blog__tabs__item">
                    <a class="blog__tabs__link" href="#">Ремонт проф техники</a>
                </li>
                <li class="blog__tabs__item">
                    <a class="blog__tabs__link" href="#">Ремонт бытовой техники</a>
                </li>
                <li class="blog__tabs__item">
                    <a class="blog__tabs__link" href="#">Ремонт мобильной техники и гаджетов</a>
                </li>
            </ul>
        </div>
    </div>
</section>