<section class="blog-items">
    <div class="row">
        <div class="col-sm-12">

        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 blog__post">
            <a class="blog__post__link" href="#">
                <div class="row">
                    <div class="hidden-xs col-xs-5 col-sm-4">
                        <div class="blog__post__img"></div>
                    </div>
                    <div class="col-sm-8">
                        <p class="blog__post__title"><span class="blog__post__title__link">Почему достижимо в
                                разумные сроки стимулирование коммьюнити, если
                                статья в блоге пишется для сео?</span></p>

                        <p class="blog__post__desc">Синтагма, если уловить хореический ритм или аллитерацию на "р",
                            жизненно
                            иллюстрирует ритм. Холодный цинизм изящно диссонирует полифонический роман. Слово
                            аллитерирует
                            брахикаталектический стих. В связи с этим нужно подчеркнуть, что метонимия отталкивает
                            мифопоэтический
                            хронотоп. 300 символов с пробелами. </p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-12 blog__post">
            <a class="blog__post__link" href="#">
                <div class="row">
                    <div class="hidden-xs col-xs-5 col-sm-4">
                        <div class="blog__post__img"></div>
                    </div>
                    <div class="col-sm-8">
                        <p class="blog__post__title"><span class="blog__post__title__link">Почему достижимо в
                                разумные сроки стимулирование коммьюнити, если
                                статья в блоге пишется для сео?</span></p>

                        <p class="blog__post__desc">Синтагма, если уловить хореический ритм или аллитерацию на "р",
                            жизненно
                            иллюстрирует ритм. Холодный цинизм изящно диссонирует полифонический роман. Слово
                            аллитерирует
                            брахикаталектический стих. В связи с этим нужно подчеркнуть, что метонимия отталкивает
                            мифопоэтический
                            хронотоп. 300 символов с пробелами. </p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-12 blog__post">
            <a class="blog__post__link" href="#">
                <div class="row">
                    <div class="hidden-xs col-xs-5 col-sm-4">
                        <div class="blog__post__img"></div>
                    </div>
                    <div class="col-sm-8">
                        <p class="blog__post__title"><span class="blog__post__title__link">Почему достижимо в
                                разумные сроки стимулирование коммьюнити, если
                                статья в блоге пишется для сео?</span></p>

                        <p class="blog__post__desc">Синтагма, если уловить хореический ритм или аллитерацию на "р",
                            жизненно
                            иллюстрирует ритм. Холодный цинизм изящно диссонирует полифонический роман. Слово
                            аллитерирует
                            брахикаталектический стих. В связи с этим нужно подчеркнуть, что метонимия отталкивает
                            мифопоэтический
                            хронотоп. 300 символов с пробелами. </p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>