<section class="contact-data">
    <div class="row">
        <div class="col-sm-12">
            <p class="title contact-data__title">Контактные данные центра «Новый Сервис»</p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="contact-data__cnt">
                <p class="contact-data__cnt__title">Внимание! Заявки на ремонт техники принимаются круглосуточно и без выходных</p>

                <div class="row">
                    <div class="col-sm-4 contact-data__cnt__info-block">
                        <p class="contact-data__cnt__info-block__title">Телефоны для связи:</p>

                        <p class="contact-data__cnt__info-block__phone">(096) 042-24-49</p>
                        <p class="contact-data__cnt__info-block__phone">(048) 733-02-37</p>
                    </div>
                    <div class="col-sm-4 contact-data__cnt__info-block">
                        <p class="contact-data__cnt__info-block__title">Адрес:</p>

                        <address class="contact-data__cnt__info-block__address">Одесса, <br/>
                        ул. Вегера, 55, оф. 1</address>
                    </div>
                    <div class="col-sm-4 contact-data__cnt__info-block">
                        <p class="contact-data__cnt__info-block__title">График работы:</p>

                        <p class="contact-data__cnt__info-block__time-work">пн-пт 9:00-18:00, <br/>
                        сб-вс 10:00-16:00</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>