<section class="contact-form">
    <div class="row">
        <div class="col-sm-12">
            <p class="title contact-form__title">Есть вопрос? Задайте его нам по электронной почте</p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="contact-form__cnt">
                <p class="">Поля, отмеченные звездочкой <span class="required">*</span> необходимо обьязательно
                    заполнить</p>

                <form class="form row" action="" method="">
                    <div class="form-group col-sm-4">
                        <label for="contact-form--name"><span class="required">*</span> Как вас зовут?</label>
                        <input type="text" class="form-control" id="contact-form--name" name="contact-form--name"
                               placeholder="САША" required="required">
                    </div>
                    <div class="form-group col-sm-4">
                        <label for="contact-form--email"><span class="required">*</span> Ваш email</label>
                        <input type="email" class="form-control" id="contact-form--email" name="contact-form--email"
                               placeholder="name@post.com" required="required">
                    </div>
                    <div class="form-group col-sm-4">
                        <label for="contact-form--tel">Ваш телефон</label>
                        <input type="tel" class="form-control" id="contact-form--tel" name="contact-form--tel"
                               placeholder="(065) 354-32-23">
                    </div>
                    <div class="form-group col-sm-12">
                        <label for="text"><span class="required">*</span> Текст сообщения</label>
                        <textarea class="form-control" id="text" name="text" rows="4"></textarea>
                    </div>
                    <div class="col-sm-offset-4 col-sm-4 col-lg-offset-4 col-lg-4">
                        <input class="btn btn-blue btn-blue--lg" type="submit" placeholder="Отправить">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>