<!-- footer -->
<footer class="footer" id="footer">
    <div class="row">
        <div class="col-sm-3">
            <a class="footer__logo__link" href="/">
                <img class="footer__logo__img" src="/img/logo-footer.png" alt=""/>
            </a>

            <p class="footer__copy">
                Сервис №1 в Одесcе &copy; 2016
                Все права защищены
            </p>
        </div>
        <div class="col-sm-5">
            <p class="footer__warning-text">
                <strong>Внимание!</strong>
                Вся представленная на сайте информация носит
                исключительно информационный характер
                и не является публичной офертой
            </p>
        </div>
        <div class="col-sm-offset-1 col-sm-3">
            <p class="footer__license">Разработка и продвижение
            <a class="footer__license__link" href="https://adlers.ua/">AdlersУкраина</a></p>
        </div>
    </div>
</footer>
<!-- end footer -->