<!-- form-sidebar -->

<form class="form-sidebar" id="" action="" method="post">
    <p class="form-sidebar__title">
        Бесплатно
        вызвать мастера
        на дом
    </p>
    <div class="form-group">
        <label for="name">Как вас зовут?</label>
        <input class="form-control" id="name" type="text" name="name" placeholder="САША" pattern="^[a-zA-Zа-яА-Я'][a-zA-Zа-яА-Я-' ]+[a-zA-Zа-яА-Я']$" required="required">
    </div>
    <div class="form-group">
        <label for="phone">Ваш номер телефона:</label>
        <input class="form-control" id="phone" type="tel" name="phone" placeholder="063 876-98-87" pattern="^([\+]+)*[0-9\x20\x28\x29\-]{7,20}$" required="required">
    </div>
    <button type="submit" class="btn btn-blue btn-blue--lg">Отправить заявку</button>
</form>
<!-- end form-sidebar -->