<section class="head1-block">
    <div class="head1-block__top">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="head1-block__title">Стиральная машина
                    Indesit не включается H1</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-9">
                <span class="head1-block__question">Что же делать?</span>

                <!-- modal window-->
                <span class="head1-block__call-master" data-toggle="modal" data-target="#myModal">
                    <span>Вызвать мастера на дом!</span>
                </span>
            </div>
            <div class="hidden-xs col-sm-3">
                <div class="head1-block__social-icons">
                    <a class="head1-block__social-item head1-block__social-item1--fb" href="#">
                        <img src="/img/social-fb.png" alt=""/>
                    </a>
                    <a class="head1-block__social-item head1-block__social-item1--vk" href="#">
                        <img src="/img/social-vk.png" alt=""/>
                    </a>
                    <a class="head1-block__social-item head1-block__social-item1--ok" href="#">
                        <img src="/img/social-ok.png" alt=""/>
                    </a>
                    <a class="head1-block__social-item head1-block__social-item1--twit" href="#">
                        <img src="/img/social-twit.png" alt=""/>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="head1-block__cnt">
        <div class="row">
            <div class="col-sm-12">
                <p>Вы приготовили новую порцию белья для стирки, а стиральная машина Indesit не включается?
                    Что делать в таком случае и что может быть причиной этой неисправности?</p>

                <p>Давайте разберёмся в ситуации. Дело в том, что под выражением «моя стиральная машина не включается»
                    могут подходить различные симптомы поведения машинки. И главное помнить, что всё поправимо и можно
                    отремонтировать. Конечно, ремонт бессмысленен был бы в том случае, если бы в <a href="#">стиральной
                        машине</a>
                    постирали кирпич, но у нас всё не так страшно...</p>
            </div>
        </div>
    </div>
</section>