<section class="menu-domestic">
    <div class="row">
        <div class="col-sm-12">
            <p class="title menu-domestic__title">Ремонт бытовой техники</p>
        </div>
    </div>

    <!-- listing -->
    <div class="row">
        <!-- first line -->
        <div class="col-sm-6 ">
            <div class="menu-domestic__item__top-line"></div>
            <div class="menu-domestic__item">
                <a href="#">
                    <div class="row menu-domestic__item__cnt">
                        <div class="col-sm-6 col-md-5">
                            <span class="menu-domestic__item__link-icon">
                                <img class="menu-domestic__item__icon" src="/img/menu-domestic__item-bg.jpg" alt=""/>
                            </span>
                        </div>
                        <div class="col-sm-6 col-md-7">
                            <p class="menu-domestic__item__title">
                                <span class="menu-domestic__item__title__link">
                                    Ремонт стиральных машин
                                </span>
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        </div>


        <div class="col-sm-6 ">
            <div class="menu-domestic__item__top-line"></div>
            <div class="menu-domestic__item">
                <a href="#">
                    <div class="row menu-domestic__item__cnt">
                        <div class="col-sm-6 col-md-5">
                            <span class="menu-domestic__item__link-icon">
                                <img class="menu-domestic__item__icon" src="/img/menu-domestic__item-bg.jpg" alt=""/>
                            </span>
                        </div>
                        <div class="col-sm-6 col-md-7">
                            <p class="menu-domestic__item__title">
                                <span class="menu-domestic__item__title__link">
                                    Ремонт стиральных машин
                                </span>
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-sm-6 ">
            <div class="menu-domestic__item__top-line"></div>
            <div class="menu-domestic__item">
                <a href="#">
                    <div class="row menu-domestic__item__cnt">
                        <div class="col-sm-6 col-md-5">
                            <span class="menu-domestic__item__link-icon">
                                <img class="menu-domestic__item__icon" src="/img/menu-domestic__item-bg.jpg" alt=""/>
                            </span>
                        </div>
                        <div class="col-sm-6 col-md-7">
                            <p class="menu-domestic__item__title">
                                <span class="menu-domestic__item__title__link">
                                    Ремонт стиральных машин
                                </span>
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-sm-6 ">
            <div class="menu-domestic__item__top-line"></div>
            <div class="menu-domestic__item">
                <a href="#">
                    <div class="row menu-domestic__item__cnt">
                        <div class="col-sm-6 col-md-5">
                            <span class="menu-domestic__item__link-icon">
                                <img class="menu-domestic__item__icon" src="/img/menu-domestic__item-bg.jpg" alt=""/>
                            </span>
                        </div>
                        <div class="col-sm-6 col-md-7">
                            <p class="menu-domestic__item__title">
                                <span class="menu-domestic__item__title__link">
                                    Ремонт стиральных машин
                                </span>
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        </div>



    </div>
</section>