<div class="row">
    <div class="col-sm-3 menu-brands__item">
        <div class="menu-brands__item__link" href="#">
            <div class="menu-brands__item__logo">
                <div class="menu-brands__item__logo__link">
                    <img src="/img/brand-1.png" alt=""/>
                </div>
            </div>
            <p class="menu-brands__item__name">
                Название бренда
            </p>
        </div>
    </div>

    <div class="col-sm-3 menu-brands__item">
        <a class="menu-brands__item__link" href="#">
            <div class="menu-brands__item__logo">
                <div class="menu-brands__item__logo__link">
                    <img src="/img/brand-2.png" alt=""/>
                </div>
            </div>
            <p class="menu-brands__item__name">
                Название бренда
            </p>
        </a>
    </div>
    <div class="col-sm-3 menu-brands__item">
        <a class="menu-brands__item__link" href="#">
            <div class="menu-brands__item__logo">
                <div class="menu-brands__item__logo__link">
                    <img src="/img/brand-3.png" alt=""/>
                </div>
            </div>
            <p class="menu-brands__item__name">
                Название бренда
            </p>
        </a>
    </div>
    <div class="col-sm-3 menu-brands__item">
        <a class="menu-brands__item__link" href="#">
            <div class="menu-brands__item__logo">
                <div class="menu-brands__item__logo__link">
                    <img src="/img/brand-4.png" alt=""/>
                </div>
            </div>
            <p class="menu-brands__item__name">
                Название бренда
            </p>
        </a>
    </div>
    <div class="col-sm-3 menu-brands__item">
        <a class="menu-brands__item__link" href="#">
            <div class="menu-brands__item__logo">
                <div class="menu-brands__item__logo__link">
                    <img src="/img/brand-1.png" alt=""/>
                </div>
            </div>
            <p class="menu-brands__item__name">
                Название бренда
            </p>
        </a>
    </div>
    <div class="col-sm-3 menu-brands__item">
        <a class="menu-brands__item__link" href="#">
            <div class="menu-brands__item__logo">
                <div class="menu-brands__item__logo__link">
                    <img src="/img/brand-2.png" alt=""/>
                </div>
            </div>
            <p class="menu-brands__item__name">
                Название бренда
            </p>
        </a>
    </div>
    <div class="col-sm-3 menu-brands__item">
        <a class="menu-brands__item__link" href="#">
            <div class="menu-brands__item__logo">
                <div class="menu-brands__item__logo__link">
                    <img src="/img/brand-3.png" alt=""/>
                </div>
            </div>
            <p class="menu-brands__item__name">
                Название бренда
            </p>
        </a>
    </div>
    <div class="col-sm-3 menu-brands__item">
        <a class="menu-brands__item__link" href="#">
            <div class="menu-brands__item__logo">
                <div class="menu-brands__item__logo__link">
                    <img src="/img/brand-4.png" alt=""/>
                </div>
            </div>
            <p class="menu-brands__item__name">
                Название бренда
            </p>
        </a>
    </div>
</div>