<section class="menu-professional">
    <div class="row">
        <div class="col-sm-12">
            <p class="title menu-professional__title">Ремонт профессиональной техники</p>
        </div>
    </div>


    <div class="menu-professional__all-items">
        <div class="row">
            <div class="col-sm-4">
                <a class="btn btn-light" href="#">Тепловое оборудование</a>
            </div>
        </div>

        <div class="row ">
            <div class="col-sm-12">
                <ul class="menu-professional__lst">
                    <li class="menu-professional__item">
                        <span class="menu-professional__link" >Ремонт пароконвектоматов</span>
                    </li>
                    <li class="menu-professional__item">
                        <a class="menu-professional__link" href="#">Ремонт конвекционных печей</a>
                    </li>
                    <li class="menu-professional__item">
                        <a class="menu-professional__link" href="#">Ремонт жарочных шкафов</a>
                    </li>
                    <li class="menu-professional__item">
                        <a class="menu-professional__link" href="#">Ремонт расстоечных шкафов</a>
                    </li>
                    <li class="menu-professional__item">
                        <a class="menu-professional__link" href="#">Ремонт модульных серий</a>
                    </li>
                    <li class="menu-professional__item">
                        <a class="menu-professional__link" href="#">Ремонт плит</a>
                    </li>
                    <li class="menu-professional__item">
                        <a class="menu-professional__link" href="#">Ремонт тепанов</a>
                    </li>
                    <li class="menu-professional__item">
                        <a class="menu-professional__link" href="">Ремонт фритюрниц</a>
                    </li>
                    <li class="menu-professional__item">
                        <a class="menu-professional__link" href="#">Ремонт пароконвектоматов</a>
                    </li>
                    <li class="menu-professional__item">
                        <a class="menu-professional__link" href="#">Ремонт конвекционных печей</a>
                    </li>
                    <li class="menu-professional__item">
                        <a class="menu-professional__link" href="#">Ремонт жарочных шкафов</a>
                    </li>
                    <li class="menu-professional__item">
                        <a class="menu-professional__link" href="#">Ремонт расстоечных шкафов</a>
                    </li>
                    <li class="menu-professional__item">
                        <a class="menu-professional__link" href="#">Ремонт модульных серий</a>
                    </li>
                    <li class="menu-professional__item">
                        <a class="menu-professional__link" href="#">Ремонт плит</a>
                    </li>
                    <li class="menu-professional__item">
                        <a class="menu-professional__link" href="#">Ремонт тепанов</a>
                    </li>
                    <li class="menu-professional__item">
                        <a class="menu-professional__link" href="#">Ремонт фритюрниц</a>
                    </li>
                    <li class="menu-professional__item">
                        <a class="menu-professional__link" href="#">Ремонт пароконвектоматов</a>
                    </li>
                    <li class="menu-professional__item">
                        <a class="menu-professional__link" href="#">Ремонт конвекционных печей</a>
                    </li>
                    <li class="menu-professional__item">
                        <a class="menu-professional__link" href="#">Ремонт жарочных шкафов</a>
                    </li>
                    <li class="menu-professional__item">
                        <a class="menu-professional__link" href="#">Ремонт расстоечных шкафов</a>
                    </li>
                    <li class="menu-professional__item">
                        <a class="menu-professional__link" href="#">Ремонт модульных серий</a>
                    </li>
                    <li class="menu-professional__item">
                        <a class="menu-professional__link" href="#">Ремонт плит</a>
                    </li>
                    <li class="menu-professional__item">
                        <a class="menu-professional__link" href="#">Ремонт тепанов</a>
                    </li>
                    <li class="menu-professional__item">
                        <a class="menu-professional__link" href="">Ремонт фритюрниц</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>