<section class="menu-gadgets">
    <div class="row">
        <div class="col-sm-4">
            <div class="menu-gadgets__item">
                <a class="menu-gadgets__link" href="#">
                    <p class="menu-gadgets__name"><span>Ремонт ноутбуков</span></p>
                    <img class="menu-gadgets__icon" src="/img/main-catalog__item-bg.jpg" alt="">
                </a>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="menu-gadgets__item">
                <a class="menu-gadgets__link" href="#">
                    <p class="menu-gadgets__name"><span>Ремонт ноутбуков</span></p>
                    <img class="menu-gadgets__icon" src="/img/main-catalog__item-bg--2.jpg" alt="">
                </a>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="menu-gadgets__item">
                <a class="menu-gadgets__link" href="#">
                    <p class="menu-gadgets__name"><span>Ремонт ноутбуков</span></p>
                    <img class="menu-gadgets__icon" src="/img/main-catalog__item-bg--3.jpg" alt="">
                </a>
            </div>
        </div>

    </div>
</section>