<div class="row">
    <div class="col-sm-12">
        <ul class="menu-problems__lst">
            <li class="menu-problems__lst__item">
                <span class="btn btn-light menu-problems__lst__item__link">Стиральная машина не отжимает</span>
            </li>
            <li class="menu-problems__lst__item">
                <a class="btn btn-light menu-problems__lst__item__link" href="#">Стиральная машина не набирает воду</a>
            </li>
            <li class="menu-problems__lst__item">
                <a class="btn btn-light menu-problems__lst__item__link" href="#">Стиральная машина не греет воду</a>
            </li>

            <li class="menu-problems__lst__item">
                <a class="btn btn-light menu-problems__lst__item__link" href="#">Сбой в программе стиральной машины</a>
            </li>
            <li class="menu-problems__lst__item">
                <a class="btn btn-light menu-problems__lst__item__link" href="#">Стиральная машина не останавливается</a>
            </li>
            <li class="menu-problems__lst__item">
                <a class="btn btn-light menu-problems__lst__item__link" href="#">Чистка от накипи стиральной машины</a>
            </li>
            <li class="menu-problems__lst__item">
                <a class="btn btn-light menu-problems__lst__item__link" href="#">Стиральная машина искрит</a>
            </li>
            <li class="menu-problems__lst__item">
                <a class="btn btn-light menu-problems__lst__item__link" href="#">Стиральная машина переливает воду</a>
            </li>
            <li class="menu-problems__lst__item">
                <a class="btn btn-light menu-problems__lst__item__link" href="#">Стиральная машина не отжимает</a>
            </li>
            <li class="menu-problems__lst__item">
                <a class="btn btn-light menu-problems__lst__item__link" href="#">Стиральная машина не набирает воду</a>
            </li>
            <li class="menu-problems__lst__item">
                <a class="btn btn-light menu-problems__lst__item__link" href="#">Стиральная машина не греет воду</a>
            </li>

            <li class="menu-problems__lst__item">
                <a class="btn btn-light menu-problems__lst__item__link" href="#">Сбой в программе стиральной машины</a>
            </li>
            <li class="menu-problems__lst__item">
                <a class="btn btn-light menu-problems__lst__item__link" href="#">Стиральная машина не останавливается</a>
            </li>
            <li class="menu-problems__lst__item">
                <a class="btn btn-light menu-problems__lst__item__link" href="#">Чистка от накипи стиральной машины</a>
            </li>
            <li class="menu-problems__lst__item">
                <a class="btn btn-light menu-problems__lst__item__link" href="#">Стиральная машина искрит</a>
            </li>
            <li class="menu-problems__lst__item">
                <a class="btn btn-light menu-problems__lst__item__link" href="#">Стиральная машина переливает воду</a>
            </li>
        </ul>
    </div>
</div>