<section class="menu-gadgets">
    <div class="row">
        <div class="col-sm-4">
            <div class="menu-gadgets__top-line"></div>
            <div class="menu-gadgets__item">
                <a class="menu-gadgets__link" href="#">
                    <p class="menu-gadgets__name"><span>Ремонт ноутбуков</span></p>
                    <span class="menu-gadgets__icon"
                          style="background: url('/img/main-catalog__item-bg--1.jpg') no-repeat center center;"></span>
                </a>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="menu-gadgets__top-line"></div>
            <div class="menu-gadgets__item">
                <a class="menu-gadgets__link" href="#">
                    <p class="menu-gadgets__name"><span>Ремонт ноутбуков</span></p>
                    <span class="menu-gadgets__icon"
                          style="background: url('/img/main-catalog__item-bg--2.jpg') no-repeat center center;"></span>
                </a>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="menu-gadgets__top-line"></div>
            <div class="menu-gadgets__item">
                <a class="menu-gadgets__link" href="#">
                    <p class="menu-gadgets__name"><span>Ремонт ноутбуков</span></p>
                    <span class="menu-gadgets__icon"
                          style="background: url('/img/main-catalog__item-bg--3.jpg') no-repeat center center;"></span>
                </a>
            </div>
        </div>
    </div>
</section>