<div class="row">
    <div class="col-sm-3 menu-brands__item">
        <div class="menu-brands__item__logo">
            <a class="menu-brands__item__logo__link" href="#">
                <img src="/img/brand-1.png" alt=""/>
            </a>
        </div>
        <a class="menu-brands__item__name" href="#">
            Название бренда
        </a>
    </div>
    <div class="col-sm-3 menu-brands__item">
        <div class="menu-brands__item__logo">
            <a class="menu-brands__item__logo__link" href="#">
                <img src="/img/brand-2.png" alt=""/>
            </a>
        </div>
        <a class="menu-brands__item__name" href="#">
            Название бренда
        </a>
    </div>
    <div class="col-sm-3 menu-brands__item">
        <div class="menu-brands__item__logo">
            <a class="menu-brands__item__logo__link" href="#">
                <img src="/img/brand-3.png" alt=""/>
            </a>
        </div>
        <a class="menu-brands__item__name" href="#">
            Название бренда
        </a>
    </div>
    <div class="col-sm-3 menu-brands__item">
        <div class="menu-brands__item__logo">
            <a class="menu-brands__item__logo__link" href="#">
                <img src="/img/brand-4.png" alt=""/>
            </a>
        </div>
        <a class="menu-brands__item__name" href="#">
            Название бренда
        </a>
    </div>

    <div class="col-sm-3 menu-brands__item">
        <div class="menu-brands__item__logo">
            <a class="menu-brands__item__logo__link" href="#">
                <img src="/img/brand-1.png" alt=""/>
            </a>
        </div>
        <a class="menu-brands__item__name" href="#">
            Название бренда
        </a>
    </div>
    <div class="col-sm-3 menu-brands__item">
        <div class="menu-brands__item__logo">
            <a class="menu-brands__item__logo__link" href="#">
                <img src="/img/brand-2.png" alt=""/>
            </a>
        </div>
        <a class="menu-brands__item__name" href="#">
            Название бренда
        </a>
    </div>
    <div class="col-sm-3 menu-brands__item">
        <div class="menu-brands__item__logo">
            <a class="menu-brands__item__logo__link" href="#">
                <img src="/img/brand-3.png" alt=""/>
            </a>
        </div>
        <a class="menu-brands__item__name" href="#">
            Название бренда
        </a>
    </div>
    <div class="col-sm-3 menu-brands__item">
        <div class="menu-brands__item__logo">
            <a class="menu-brands__item__logo__link" href="#">
                <img src="/img/brand-4.png" alt=""/>
            </a>
        </div>
        <a class="menu-brands__item__name" href="#">
            Название бренда
        </a>
    </div>

    <div class="col-sm-3 menu-brands__item">
        <div class="menu-brands__item__logo">
            <a class="menu-brands__item__logo__link" href="#">
                <img src="/img/brand-1.png" alt=""/>
            </a>
        </div>
        <a class="menu-brands__item__name" href="#">
            Название бренда
        </a>
    </div>
    <div class="col-sm-3 menu-brands__item">
        <div class="menu-brands__item__logo">
            <a class="menu-brands__item__logo__link" href="#">
                <img src="/img/brand-2.png" alt=""/>
            </a>
        </div>
        <a class="menu-brands__item__name" href="#">
            Название бренда
        </a>
    </div>
    <div class="col-sm-3 menu-brands__item">
        <div class="menu-brands__item__logo">
            <a class="menu-brands__item__logo__link" href="#">
                <img src="/img/brand-3.png" alt=""/>
            </a>
        </div>
        <a class="menu-brands__item__name" href="#">
            Название бренда
        </a>
    </div>
    <div class="col-sm-3 menu-brands__item">
        <div class="menu-brands__item__logo">
            <a class="menu-brands__item__logo__link" href="#">
                <img src="/img/brand-4.png" alt=""/>
            </a>
        </div>
        <a class="menu-brands__item__name" href="#">
            Название бренда
        </a>
    </div>
</div>