<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <span type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true"></span></span>

                            <div class="row">
                                <div class="col-sm-6">
                                    <p class="modal__cnt__title">Как пользоваться
                                        сервисом №1 в Одессе:
                                    </p>

                                    <ol class="modal__cnt__lst">
                                        <li class="modal__cnt__title__item">Позвоните или заполните форму</li>
                                        <li class="modal__cnt__title__item">Обсудите с оператором дату и время</li>
                                        <li class="modal__cnt__title__item">Дождитесь квалицированного мастера</li>
                                        <li class="modal__cnt__title__item">Получите гарантию на ремонт</li>
                                        <li class="modal__cnt__title__item">Пользуйтесь исправной техникой</li>
                                    </ol>

                                    <div class="modal__phone-block">
                                        <p class="modal__phone-block__title">Телефоны для заявок:</p>

                                        <p class="modal__phone-block__number">(096) 042-24-49 </p>
                                        <p class="modal__phone-block__number">(096) 042-24-49</p>

                                        <p class="modal__phone-block__call">Заявки принимаются круглосуточно</p>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    //= form-modal.html
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end Modal -->