<section class="offers-archive">
    <div class="row">
        <div class="col-sm-12">
            <p class="title offers-archive__title">Прошедшие акции (сожержимое блоков имеет опасити 0.5)</p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 offers-archive__item">
            <div class="offers-archive__item__cnt"
                 style="background: url('/img/offers-list__item-bg.jpg') no-repeat; -webkit-background-size: cover;
        background-size: cover;">

                <p class="act-title">Скидка 5% class “act-title”</p>

                <p class="act-text">При оформлении заявки на ремонт через сайт class “act-text”
                    Просто заполни форму и жди звонка от мастера</p>

                <p class="act-date">Акционое предложение действует до 28.06.2016 class “act-date”</p>
            </div>
        </div>

        <div class="col-sm-12 offers-archive__item offers-archive__item--disable">
            <div class="offers-archive__item__cnt"
                 style="background: url('/img/offers-list__item-bg.jpg') no-repeat; -webkit-background-size: cover;
        background-size: cover;">

                <p class="act-title">Скидка 5% class “act-title”</p>

                <p class="act-text">При оформлении заявки на ремонт через сайт class “act-text”
                    Просто заполни форму и жди звонка от мастера</p>

                <p class="act-date">Акционое предложение действует до 28.06.2016 class “act-date”</p>
            </div>
        </div>
    </div>
</section>