<section class="offers-list">
    <div class="row">
        <div class="col-sm-12">
            <p class="title offers-list__title">Актуальные дисконты и акции сервисного центра «24мастер» в Одессе</p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 offers-list__item">
            <div class="offers-list__item__cnt"
                 style="background: url('/img/offers-list__item-bg.jpg') no-repeat; -webkit-background-size: cover;
        background-size: cover;">

                <p class="act-title">Скидка 5% class “act-title”</p>

                <p class="act-text">При оформлении заявки на ремонт через сайт class “act-text”
                    Просто заполни форму и жди звонка от мастера</p>

                <p class="act-date">Акционое предложение действует до 28.06.2016 class “act-date”</p>
            </div>
        </div>

        <div class="col-sm-12 offers-list__item offers-list__item--disable">
            <div class="offers-list__item__cnt"
                 style="background: url('/img/offers-list__item-bg.jpg') no-repeat; -webkit-background-size: cover;
        background-size: cover;">

                <p class="act-title">Скидка 5% class “act-title”</p>

                <p class="act-text">При оформлении заявки на ремонт через сайт class “act-text”
                    Просто заполни форму и жди звонка от мастера</p>

                <p class="act-date">Акционое предложение действует до 28.06.2016 class “act-date”</p>
            </div>
        </div>
    </div>
</section>