<article class="page-article">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="title page-article__title">Стиральная машина Indesit не включается в Одессе H2</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="page-article__cnt">

                <div class="page-article__cnt__img-block">
                    <div class="page-article__cnt__img">
                        <img src="/img/article-img--1.jpg" alt="article image"/>
                    </div>
                    <div class="page-article__cnt__img">
                        <img src="/img/article-img--2.jpg" alt="article image"/>
                    </div>
                </div>

                <p>
                    Несмотря на долговечность алюминиевых дверей, красивых прочных окон, в течение их эксплуатации могут
                    возникнуть неполадки, связанные с разгерметизацией конструкции, провисанием оконных створок, их
                    неплотным приставанием либо повышенным трением, когда речь идёт о раздвижных системах, заклиниванием
                    механизмов замков, другой фурнитуры. Иногда возникает необходимость в таких операциях, как замена
                    стеклопакетов алюминиевых окон и дверей – нарушения технологии изготовления, огрехи при монтаже,
                    могут
                    привести к снижению их показателей воздухонепроницаемости или теплоизоляции. Современные конструкции
                    из
                    «тёплого» либо «холодного» алюминиевого профиля весьма разнообразны по характеристикам, по своему
                    дизайну.
                </p>

                <h3>Наиболее распространёнными видами ремонта являются следующие операции h3</h3>

                <ul>
                    <li>замена стеклопакетов и стёкол;</li>
                    <li>замена уплотнителей;</li>
                    <li>герметизация мест, в которых конструкция примыкает к откосам, подоконникам;</li>
                    <li>регулировка, настройка фурнитуры оконных створок, дверных петель и т.д.;</li>
                    <li>устранение протечек, прочих ошибок монтажных работ.</li>
                </ul>


                <p>Самостоятельное вмешательство в конструкцию подобных систем, так же, как их неумелая регулировка,
                    может
                    привести к ещё большим проблемам, поэтому в таких ситуациях следует обращаться к специалистам.
                    Мастера
                    компании «Oknadel» помогут заменить стеклопакет в алюминиевых окнах и произвести необходимый ремонт
                    в
                    таких
                    типах оконных систем, как «ALUMIL», «PROFILCO», «ELVIAL», «ALUMINCO», «TECHNAL», «NASA», «RC SYSTEM,
                    ETEM»,
                    «RAICO», а также в светопрозрачных конструкциях из отечественного профиля компаний «ВСМПО»,
                    «ТАТПРОФ», и
                    многих других.</p>

                <p>Самостоятельное вмешательство в конструкцию подобных систем, так же, как их неумелая регулировка,
                    может
                    привести к ещё большим проблемам, поэтому в таких ситуациях следует обращаться к специалистам.
                    Мастера
                    компании «Oknadel» помогут заменить стеклопакет в алюминиевых окнах и произвести необходимый.</p>
            </div>
        </div>
    </div>
</article>