<table class="table prices-block__table">
    <tbody>
        <tr>
            <td class="col-sm-10">Замена сливного насоса 50px heightz</td>
            <td class="col-sm-2">240-320 <sup>ГРН</sup></td>
        </tr>
        <tr>
            <td class="col-sm-10">Замена водонагревательного элемента</td>
            <td class="col-sm-2">240-320 <sup>ГРН</sup></td>
        </tr>
        <tr>
            <td class="col-sm-9">Замена манжеты люка</td>
            <td class="col-sm-3">240-320 <sup>ГРН</sup></td>
        </tr>
        <tr>
            <td class="col-sm-9">Ремонт модуля управления JUST HOVER, NOT LINK</td>
            <td class="col-sm-3">240-320 <sup>ГРН</sup></td>
        </tr>
        <tr>
            <td class="col-sm-9">Замена подшипникового узла</td>
            <td class="col-sm-3">240-320 <sup>ГРН</sup></td>
        </tr>
        <tr>
            <td class="col-sm-9">Замена уплотнительной резины</td>
            <td class="col-sm-3">240-320 <sup>ГРН</sup></td>
        </tr>
        <tr>
            <td class="col-sm-9">Замена приводного ремня</td>
            <td class="col-sm-3">240-320 <sup>ГРН</sup></td>
        </tr>
        <tr>
            <td class="col-sm-9">Вызов и диагностика (в случае отказа от ремонта)</td>
            <td class="col-sm-3">240-320 <sup>ГРН</sup></td>
        </tr>
    </tbody>
</table>