<!-- sidebar -->
<aside class="floating" id="sidebar">
    <div class="sidebar">
        <a class="sidebar__category-item sidebar__category-item--mob-equipment" href="#">
            <span>
            Ремонт планшетов,
            ноутбуков, смартфонов
            </span>
        </a>
        <a class="sidebar__category-item sidebar__category-item--but-equipment" href="#">
            <span>
            Ремонт бытовой
            техники
            </span>
        </a>
        <a class="sidebar__category-item sidebar__category-item--prof-equipment" href="#">
            <span>
            Ремонт
            профессиональной
            техники
            </span>
        </a>

        //= form-sidebar.html

        <p class="sidebar__around-clock">Или звоните нам 24\7</p>

        <p class="sidebar__phone">(096) 042-24-49</p>

        <p class="sidebar__phone">(096) 042-24-49</p>
    </div>
</aside>
<!-- end sidebar -->