<!-- Swiper -->
<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide"
             style="background: url(img/header_bg1.jpg) #3e343a; background-position: center bottom;">
            <div class="container">
                <div class="row col-md-12">
                    <p class="slider__desc">
                        Срочный ремонт <br/>
                        компьютеров, <br/>
                        ноутбуков и телефонов <br/>
                        в Киеве на дому
                    </p>

                    <div class="row">
                        <div class="col-sm-4 col-md-3">
                            <a class="btn btn-orange slider__link" href="#">Оформить заявку</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-slide"
             style="background: url(img/header_bg1.jpg) #3e343a; background-position: center bottom;">
            <div class="container">
                <div class="row col-md-12">
                    <p class="slider__desc">
                        Срочный ремонт <br/>
                        компьютеров, <br/>
                        ноутбуков и телефонов <br/>
                        в Киеве на дому
                    </p>

                    <div class="row">
                        <div class="col-sm-4 col-md-3">
                            <a class="btn btn-orange slider__link" href="#">Оформить заявку</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    <!-- Add Arrows -->

    <div class="container">
        <div class="row nav-slider-btns">
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>
</div>