<!-- Swiper -->
<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide"
             style="background: url('/img/slider2.png') transparent right -17px no-repeat;">

            <div class="row">
                <div class="col-sm-8">
                    <p class="swiper-slide__title">Сервис №1 в Одессе. <br/>
                        Дайте своей технике шанс!</p>

                    <p class="swiper-slide__desc">Полный комплекс по ремонту и обслуживанию <br/>s
                        бытовой, мультимедиа и профессиональной техники</p>
                </div>
            </div>
        </div>
        <div class="swiper-slide"
             style="background: url('/img/slider2.png') transparent right -17px no-repeat;">

            <div class="row">
                <div class="col-sm-8">
                    <p class="swiper-slide__title">Сервис №1 в Одессе. <br/>
                        Дайте своей технике шанс!</p>

                    <p class="swiper-slide__desc">Полный комплекс по ремонту и обслуживанию <br/>s
                        бытовой, мультимедиа и профессиональной техники</p>
                </div>
            </div>
        </div>
    </div>
</div>