<section class="tipical-prices-block">
    <div class="row">
        <div class="col-sm-12">
            <p class="title tipical-prices-block__title">Цены на ремонт техники (это именно табы - три разных таблицы в
                табах)</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="tipical-prices-block__cnt">
                <div>
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active" role="presentation">
                            <a href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">Ремонт
                                мобильной техники и гаджетов</a>
                        </li>
                        <li role="presentation">
                            <a href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab">Ремонт бытовой
                                техники</a>
                        </li>
                        <li role="presentation">
                            <a href="#tab3" aria-controls="tab3" role="tab" data-toggle="tab">Ремонт проф техники</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="tab-content tab-content--tipical-prices-block">
                <div role="tabpanel" class="tab-pane active" id="tab1">
                    //= prices-block__table.html
                </div>
                <div role="tabpanel" class="tab-pane" id="tab2">
                    //= prices-block__table.html
                </div>
                <div role="tabpanel" class="tab-pane" id="tab3">
                    //= prices-block__table.html
                </div>
            </div>
        </div>
    </div>
</section>