/* header
********************/

.header {
  background: #323232;
  width: 100%;
  height: 165px;
  z-index: 20;
}

.top-line {
  position: relative;
  background: url("../img/top_line.png") center center;
  height: 3px;
  z-index: 67;
}

.header-info {
  background: #fff;
  height: 81px;
}


/* Nav menu */
.navbar {
  margin-bottom: 0;
  min-height: 80px;
}

.navbar-default {
  background-color: transparent;
  border: none;
}

.navbar-toggle {
  margin-bottom: 30px;
  margin-top: 25px;
}

.navbar-brand {
  height: auto;
}

.header-logo {
  margin-top: 5px;
}

.main-menu {
  overflow: hidden;
  font-size: 0;
  text-align: right;
  margin-top: 28px;
}

.main-menu__item {
  display: inline-block;
  padding-bottom: 4px;
  border-bottom: 1px solid #905464;
  -webkit-transition: border-bottom 0.2s ease-out 0.2s;
  -moz-transition: border-bottom 0.2s ease-out 0.2s;
  -o-transition: border-bottom 0.2s ease-out 0.2s;
  transition: border-bottom 0.2s ease-out 0.2s;

  margin-right: 40px;

  &:first-child,
  &:nth-child(2) {
    border-bottom-color: #905464;
  }

  &:nth-child(3),
  &:nth-child(4) {
    border-bottom-color: #8e415f;
  }

  &:nth-child(5),
  &:nth-child(6) {
    border-bottom-color: #605983;
  }

  &:nth-child(7),
  &:nth-child(8) {
    border-bottom-color: #5a6b83;
  }

  &:last-child {
    margin-right: 0;
    border-bottom-color: #5a6b83;
  }

  &.active {

    > a,
    span {
      color: #fff;
    }
  }

  &:hover {
    border-bottom-color: #ccc;
    a {
      color: #ccc;
    }
  }

  .main-menu__link {
    text-decoration: none;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;

  }

}

/* header-info*/

.header-info {
  overflow: hidden;
}

  .header-info__phone {
    background: url('/img/ic_b_phone.png') no-repeat left center;
    margin: 30px 0;
    padding-left: 30px;
    font-size: 20px;
    line-height: 24px;
    color: #505364;
    font-weight: 400;

    >span{
      display: block;
    }
  }

  .header-info__address{
    background: url('/img/ic_b_globe.png') no-repeat left center;
    margin: 30px 0;
    padding-left: 30px;
    font-size: 14px;
    line-height: 24px;
    color: #505364;
    font-weight: 400;
  }

  .header-info__working-hours{
    background: url('/img/ic_b_calendar.png') no-repeat left center;
    margin: 30px 0;
    padding-left: 30px;
    font-size: 14px;
    line-height: 24px;
    color: #505364;
    font-weight: 400;
  }

  .header-info__maps{
    float: right;
    background: url('/img/ic_b_map.png') no-repeat center center;
    display: block;
    margin-top: 20px;
    width: 35px;
    height: 35px;
    border: 1px solid #f2f3f4;
}



























