/* head1-block */

.head1-block{
  position: relative;
  overflow: hidden;
  background: #fff;
  margin-top: -30px;
  z-index: 20;
  @include box-shadow($shadow);
}

  .head1-block__top{
    overflow: hidden;
    background-image: -moz-linear-gradient( 156deg, rgb(202,75,124) 0%, rgba(202,75,124,0) 100%);
    background-image: -webkit-linear-gradient( 156deg, rgb(202,75,124) 0%, rgba(202,75,124,0) 100%);
    background-image: -ms-linear-gradient( 156deg, rgb(202,75,124) 0%, rgba(202,75,124,0) 100%);
    background-color: #dc687e;
    padding-bottom: 20px;
  }

      .head1-block__title{
        padding: 0 30px 20px;
        font-size: 50px;
        line-height: 1;
        font-weight: 400;
        color: #fff;
        text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.15);
      }

        .head1-block__question{
          padding-left: 30px;
          font-size: 16px;
          line-height: 50px;
          font-weight: 700;
          color: #fff;
        }

        .head1-block__call-master{
          background: url('/img/head-inner__call-master-bg.png') no-repeat left center;
          margin-left: 10px;
          padding-left: 25px;
          font-size: 16px;
          line-height: 50px;
          font-weight: 700;
          color: #323232;
          text-decoration: none;

          &:hover{
            color: #fff;
          }
          
          >span{
            border-bottom: 1px dashed #323232;
          }
        }

        .head1-block__social-icons{
          text-align: right;
          margin-top: 20px;
        }

          .head1-block__social-item{
            display: inline-block;
            margin-right: 15px;
          }

  .head1-block__cnt{
    padding: 30px 30px 20px;

    p{
      font-size: 16px;
      line-height: 24px;
      
      >a{
        color: #3399cc;
      }
      
    }
  }