/* menu-professional */

.menu-professional{
  overflow: hidden;
}

  .menu-professional__all-items{
    background: #fff;
    padding: 30px;
    @include box-shadow($shadow);
    border-radius: $rad;

  }
    .menu-professional__all-items__btn{
      margin-bottom: 20px;
    }

    .menu-professional__lst{
      overflow: hidden;
    }

      .menu-professional__item{

      }

        .menu-professional__link{
          @include textLink($fz, $fw);
          line-height:36px;
          text-decoration: none;
        }





