/* menu-domestic */

.menu-domestic{
  overflow: hidden;
  margin-bottom: -30px;
}

  .menu-domestic__title{
    background-image: url('/img/title-bg.png');
    background-repeat: no-repeat;
    background-position: 30px center;
  }

  .menu-domestic__item__top-line{
    background: url('/img/menu-domestic__item__top-line-bg.jpg') repeat-y;
    height: 3px;
  }
  
  .menu-domestic__item{
    background: #fff;
    overflow: hidden;
    height: 110px;
    margin-bottom: 30px;
    @include box-shadow($shadow);
  }
    
    .menu-domestic__item__cnt{

    }

        .menu-domestic__item__title {
          padding-top: 30px;
          display: inline-block;
          text-decoration: none;
          padding-right: 70px;
        }

          .menu-domestic__item__title__link {
            font-size: 18px;
            line-height: 1.2;
            font-weight: 700;
            display: inline;
            border-bottom: 1px solid #a7d3e9;
            text-decoration: none;
            color: #505364;
          }


      .menu-domestic__item__icon{
        -moz-transition: all 1s ease-out;
        -o-transition: all 1s ease-out;
        -webkit-transition: all 1s ease-out;

        &:hover{
          -webkit-transform: scale(1.05);
          -moz-transform: scale(1.05);
          -o-transform: scale(1.05);
        }
      }

      .menu-domestic__item__link-icon{
        overflow: hidden;
        display: block;
        width: 160px;
        height: 108px;
        margin: 0 0 0 1px;
        padding-top: 20px;
      }