/* page-article */

.page-article{
  overflow: hidden;
}

  .page-article__cnt{
    overflow: hidden;
    background: #fff;
    padding-bottom: 5px;
    @include box-shadow($shadow);

    .page-article__cnt__img-block{
      overflow: hidden;
    }

    .page-article__cnt__img{
      float: left;
      width: 50%;
      margin-bottom: 25px;

      > img{
        width: 100%;
        height: auto;
      }
    }

    h1 {
      margin: 0 0 15px;
      padding: 0 30px;
      font-size: 40px;
      line-height: 1;
      font-weight: 400;
      color: #505364;
    }

    h3{
      font-size: 18px;
      line-height: 24px;
    }

    h2, h3, h4, h5 {
      margin-bottom: 20px;
      padding-left: 30px;
      padding-right: 30px;
      font-weight: 400;
    }
    p, ol, ul{
      margin: 0 30px 25px;
    }

    ol li,
    ul li {
      margin-left: 15px;
      padding-left: 10px;
      list-style-image: url('/img/list-style-image.jpg');
      font-size: 16px;
      line-height: 24px;
      color: #505364;
    }

    p{
      font-size: 16px;
      line-height: 24px;
      color: #505364;

  /*  >img{
             width: 100%;
             height: auto;
             float: left;
             margin-bottom: 25px;
             margin-right: 25px;
      } */
    }
  }

  .page-article__title{
    background-image: url('/img/page-article__title-bg.png');
    background-repeat: no-repeat;
    background-position: 30px center;
  }