/* reviews */

.reviews{
  overflow: hidden;
}

  .reviews__title{
    background-image: url('/img/reviews__title-bg.png');
    background-repeat: no-repeat;
    background-position: 30px center;
  }

  .reviews__cnt{
    @include box-shadow($shadow);
    background: #fff;

    img{
      width: 100%;
      height: auto;
    }
  }

  .hc__right{
    padding: 20px 30px;
  }