/* slider */

.slider {
  position: relative;
  overflow: hidden;
  height: 270px;
  margin: 0 -15px;
  z-index: 20;
}

    .swiper-slide {
      min-height: 270px;
      font-size: 18px;
      background: #fff;
      text-align: left;

      /* Center slide text vertically
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center; */
    }

    .swiper-slide__title{
      margin: 57px 60px 0;
      font-size: 30px;
      line-height: 30px;
      font-weight: 700;
      color: #fff;
    }

    .swiper-slide__desc{
      font-size: 16px;
      line-height: 1.2;
      font-weight: 400;
      color: #fff;
      margin: 16px 60px;
    }