@media (min-width: 768px) and (max-width: 991px) {

  .header-logo {
    margin-top: 15px;
    width: 100%;
    height: auto;
  }
  .main-menu__item{
    margin-right: 10px;
  }

  .navbar-brand{
    width: 200px;
  }

  .logo--footer {
    margin-top: 15px;
    margin-bottom: 25px;
  }
}