@media (max-width: 767px) {

  body{
    background: transparent;
  }
  
  /* header */
  .header{
    margin-top: 70px;
    height: auto;
  }

  .header-logo{
    margin-top: 10px;
  }

  .header-info{
    position: static;
    height: auto;
  }


  /* header-inner */
  .head-inner{
    margin-top: 30px;
  }

  .head-inner__title{
    font-size: 36px;
  }

  .head-inner__question{
    display: block;
    line-height: 2;
  }

  .head-inner__call-master{
    background: none;
    margin-left: 5px;
    line-height: 2;
  }

  .header-info__phone,
  .header-info__address,
  .header-info__working-hours{
    margin: 10px 0;
  }


  .header-info__phone >span{
    display: block;
  }


  /* head1-block */
  .head1-block{
    margin-top: 30px;
  }

  .head1-block__title{
    font-size: 36px;
    white-space: normal;
  }

  .head1-block__question{
    display: block;
    padding-left: 30px;
    line-height: 1.2;
  }

  .head1-block__top .head1-block__call-master {
    margin-left: 30px;
  }

  /* menu */
  .container-fluid > .navbar-collapse{
    padding-left: 0;
    padding-right: 0;
  }

  .main-menu {
    margin-top: 0;
    padding-top: 20px;
    opacity: 0.9;
  }

  .main-menu__item {
    margin-right: 0;
    display: block;
    border: none;

    &:first-child{
      display: none;
    }
  }

  .main-menu__link {
    display: block;
    padding: 10px 15px;
  }

  /* menu-gadgets */
  .menu-gadgets{
    margin-top: 0;
  }

  .menu-gadgets__top-line{
    -webkit-background-size: cover;
    background-size: cover;
    margin-top: 30px;
  }

  /* menu-domestic */
  .menu-domestic__item{
    height: auto;
  }

  .menu-domestic__item__link-icon{
    display: none;
  }

  .menu-domestic__item__title{
    padding: 30px;
  }

  /* content */
  aside{
    visibility: hidden;
  }
  
  #sidebar {
    overflow: hidden;
    background: #323232;
    height: 100vh;
    margin: 0 -15px;
    padding: 15px;
    color: #fff;
    position: fixed;
    top: 60px;
    left: 15px;
    z-index: 99;
    width: 279.5px !important;
    z-index: 35;
  }

  .form-sidebar__title{
    color: #fff;
  }

  .sidebar__category-item,
  .sidebar__around-clock,
  .sidebar__phone {
    display: none;
  }

  .show{
    top: 60px !important;
    visibility: visible;
    -webkit-transition: visibility 3s;
    -moz-transition: visibility 3s;
    -ms-transition: visibility 3s;
    -o-transition: visibility 3s;
    transition: visibility 3s;
  }

  .title{
    background-position: 10px center;
    padding-left: 15px;
  }

  .prices-block__title,
  .advantages-block__title,
  .alert-block,
  .page-article__title,
  .reviews__title,
  .blog-list__title,
  .menu-professional__title,
  .menu-domestic__title,
  .menu-brands__title,
  .menu-problems__title,
  .menu-tabs__title,
  .contact-map__title,
  .contact-form__title,
  .contact-data__title,
  .offers-archive__title,
  .offers-list__title{
    background-image: none;
  }

  .alert-block{
    padding: 25px 30px;
  }

  .alert-block__time{
    text-align: left;
  }


  /* blog */
  .blog-article{
    margin-top: 30px;
  }

  .blog-article__title{
    padding: 0 30px 30px;
  }

  .blog-header{
    margin-top: 30px;
  }

  .blog__post__desc,
  .blog__post__title{
    padding-left: 30px;
  }


  /* price-block */
  .prices-block__table{
    margin-bottom: 0;
  }

  .prices-block__table > tbody > tr > td:last-child{
    padding: 15px 0;
  }

  .prices-block__table > tbody > tr > td{
    padding: 10px 15px;
    display: block;
    text-align: center;
  }

  /* menu-problems */
  .menu-problems__cnt{
    padding: 30px 30px 10px;
  }

  .menu-problems__lst{
    margin-bottom: 20px;
  }


  /* menu-tabs */
  .menu-tabs__cnt{
    float: left;
    margin-top: 0;
    margin-bottom: 20px;
  }


  /* advantages-block */
  .advantages-block__item__desc{
    height: 190px;
  }

  .page-article__cnt{
    padding-top: 25px;
  }

  .page-article__cnt__img{
    display: none;
  }



  /* menu-professional */
  .menu-professional__lst{
    -webkit-columns: 1;
    columns: 1;
    margin-bottom: 0;
  }


  /* blog */
  .blog-list__lst{
    margin-bottom: 20px;
  }

  .btn-light{
    white-space: normal;
  }

  .btn-blue{
    float: none;
    width: 100%;
    margin: 10px 0 30px;
  }

  .btn-blue--lg{
    float: none;
    width: 100%;
    margin: 10px 30px 0 0;
  }



  /* action */
  .act-date{
    position: relative;
    margin: 0;
  }



  /* footer */
  .footer__license{
    margin: 20px 0;
    text-align: left;
  }
}

@media (max-width: 320px) {

//  #sidebar{
//    width: 100%;
//  }

  .call-the-master{
    width: 264px;
  }

  .navbar-brand {
    width: auto;
  }

}